html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color)
}

a {
    color: var(--text-color)
}

.visually-hidden {
    display: none;
}

.card-category {
    color: var(--color-primary);
}

.section-tagline {
    color: var(--color-primary);
}

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

:root {
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}


body {
    font-weight: var(--font-weight-regular);
}

h1-h6 {
    font-weight: var(--font-weight-bold);
}